@using MsWebGame.CSKH.Database.DTO
@using TraditionGame.Utilities.Utils
@model List<UserMomoRequest>
@{ 
    var status =(List<SelectListItem>) ViewBag.GetStatus;
}
<link href="~/Content/label.css" rel="stylesheet" />
<style>
    .adminContent tr:nth-child(even) {
        background-color: #e4cfcf;
    }

    .adminContent td {
        width: 1px;
        white-space: nowrap;
    }
</style>
<div class="t-widget t-grid" id="userCardSwap-grid">
    <table cellspacing="0">
        <thead class="t-grid-header">
            <tr>
                <th class="t-header" scope="col"><span class="t-link">RequestID </span></th>
                <th class="t-header" scope="col" ><span class="t-link">Cổng </span></th>
                <th class="t-header" scope="col"><span class="t-link">Đối tác </span></th>
                <th class="t-header" scope="col" ><span class="t-link">Request ID</span></th>
                <th class="t-header" scope="col" ><span class="t-link" >Mã giao dịch</span></th>
                <th class="t-header" scope="col"><span class="t-link">Nickname</span></th>
                <th class="t-header" scope="col"><span class="t-link">Số tiền nạp </span></th>
                <th class="t-header" scope="col" ><span class="t-link">Tỉ giá</span></th>
                <th class="t-header" scope="col"><span class="t-link">Số tiền game </span></th>
                <th class="t-header"  scope="col"><span class="t-link">Ngày tạo giao dịch</span></th>
                <th class="t-header" scope="col"><span class="t-link">RefKey</span></th>
                <th class="t-header" scope="col"><span class="t-link">Mô tả</span></th>
                <th class="t-header" scope="col"><span class="t-link">Trạng thái</span></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RequestID</td>
                        <td>@item.ServieName</td>
                        <td>@item.PartnerName</td>
                        <td>@item.RequestID</td>
                        <td>@item.RequestCode</td>
                        <td>@item.DisplayName</td>
                        <td>@item.Amount.LongToMoneyFormat()</td>
                        <td> @item.Rate    </td>
                        <td>@item.ReceivedMoney.LongToMoneyFormat()</td>
                        <td>@item.RequestDate</td>
                        <td>@item.RefKey</td>
                        <td>@item.PartnerMessage</td>
                        <td><span class="@item.ColorStr ">@item.StatusStr</span></td>
                    </tr>
                }
            }
        </tbody>
    </table>



    <div class="t-grid-pager t-grid-bottom">
        <div class="t-pager t-reset">
            <a class="t-link t-state-disabled" href="javascript:GlobalHeader.getMomoList(1);">
                <span class="t-icon t-arrow-first">first</span>
            </a>
            <a class="t-link t-state-disabled" href="javascript:GlobalHeader.getMomoList(@ViewBag.Prev);">
                <span class="t-icon t-arrow-prev">prev</span>
            </a>
            <div class="t-numeric">

                @for (int i = ViewBag.Start; i <= ViewBag.End; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <span class="t-state-active">@(i)</span>
                    }
                    else
                    {
                        <a href="javascript:GlobalHeader.getMomoList(@(i));" class="t-link">@(i)</a>
                    }
                }
            </div>
            <a class="t-link" href="javascript:GlobalHeader.getMomoList(@ViewBag.Next);">
                <span class="t-icon t-arrow-next">next</span>
            </a>
            <a class="t-link" href="javascript:GlobalHeader.getMomoList(@ViewBag.TotalPage);">
                <span class="t-icon t-arrow-last">last</span>
            </a>
        </div>
        <div class="t-status-text">Displaying items @ViewBag.StartIndex - @ViewBag.EndIndex of @ViewBag.TotalRecord</div>
    </div>

</div>