@{
    ViewBag.Title = "Phát lộc cho người chơi";
}

@model MsWebGame.CSKH.Models.Param.ParsNormalTransfer

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">TK thường chuyển khoản cho người chơi</div>
    </div>
    <div class="t-widget t-tabstrip t-header">
        <div class="t-content t-state-active" style="display: block;">
            <table class="adminContent customer-info-tab">
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <span id="txttransferMsg" class="@(ViewBag.Message.IndexOf("thành công") > -1 ? "txttransferMsgSuccess" : "txttransferMsg")">@ViewBag.Message</span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Tên đăng nhập gửi</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="username" name="username" value="@Model.username" type="text" required>
                        <span class="field-validation-valid" data-valmsg-for="username"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Mật khẩu gửi</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="password" name="password" value="@Model.password" type="password" required>
                        <span class="field-validation-valid" data-valmsg-for="password"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Nickname nhận</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="receiverName" name="receiverName" value="@Model.receiverName" type="text"
                               onblur="GlobalHeader.validateUserTransferPL(1);">
                        <span class="field-validation-valid" data-valmsg-for="receiverName"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Danh sách Nickname nhận</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="receiverNameList" name="receiverNameList" value="@Model.receiverNameList" type="text" readonly>
                        <span class="field-validation-valid" data-valmsg-for="receiverNameList"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Số tiền nhận</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="amount" name="amount" type="text" value="@Model.amount" onkeypress="return GlobalHeader.isNumber(event);"
                               onkeyup="GlobalHeader.changeNumber(this)" onchange="GlobalHeader.changeRecvMoney(this);" required>
                        <span class="field-validation-valid" data-valmsg-for="amount"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Số tiền thực chuyển</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="orgAmount" name="orgAmount" type="text" value="@Model.orgAmount" readonly>
                        <input type="hidden" id="fee" name="fee" value="@Model.fee">
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Nội dung</label>
                    </td>
                    <td class="adminData">
                        <textarea id="note" name="note" rows="6" required>@Model.note</textarea>
                        <span class="field-validation-valid" data-valmsg-for="note"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Chọn cổng</label>
                    </td>
                    <td class="adminData">
                        @Html.DropDownList("serviceId", new SelectList(ViewBag.ServiceBox, "Value", "Text"), new { @class = "text-box single-line" })
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <input type="submit" name="save" class="t-button" value="Chuyển" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#txttransferMsg').html('');
            }, 4000);
        });
    </script>
}