@model  MsWebGame.CSKH.Models.Complains.ComplainModel

@using MsWebGame.CSKH.Utils

<div class="t-widget t-tabstrip t-header">
    <div class="t-content t-state-active" style="display: block;">
        <table class="adminContent customer-info-tab">
           
            <tr>
                <td class="adminTitle">
                   <b>@Html.LabelFor(model => model.TransCode):</b>
                </td>
                <td class="adminData">
                  <b>@Html.DisplayFor(model => model.TransCode)</b> 
                    
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                   <b>@Html.LabelFor(model => model.TransDate):</b> 
                </td>
                <td class="adminData">
                    <b>@Html.DisplayFor(model => model.TransDate)</b>

                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                   <b>@Html.LabelFor(model => model.TransStatusStr):</b> 
                </td>
                <td class="adminData">
                    <b>@Html.DisplayFor(model => model.TransStatusStr)</b>

                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                  <b>@Html.LabelFor(model => model.ComplainStatus):</b> 
                </td>
                <td class="adminData">
                    <b>@Html.DisplayFor(model => model.ComplainStatusStr)</b>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="pure-table pure-table-horizontal">
                        <tr>
                            <td></td>
                            <td  style="width:30%"><b>Người Bán Bit</b></td>
                            <td   style="width:30%"><b>Người Mua Bit</b></td>
                        </tr>
                        <tr>
                            <td><b>Tên đăng nhập</b></td>
                            <td>@Model.CreateUserName</td>
                            <td>@Model.ReceiveUserName</td>
                        </tr>
                        <tr>
                            <td><b>Tên hiển thị</b></td>
                            <td>@Model.CreateUserDisplayName</td>
                            <td>@Model.ReceiveUserDisplayName</td>
                        </tr>
                        <tr>
                            <td><b>Số điện thoại Otp</b></td>
                            <td>@Model.CreatePhoneOtp</td>
                            <td>@Model.ReceivePhoneOtp</td>
                        </tr>
                        <tr>
                            <td><b>Số điện thoại liên hệ</b></td>
                            <td>@Model.CreatePhoneContact</td>
                            <td>@Model.ReceivePhoneContact</td>
                        </tr>
                        <tr>
                            <td><b>Số lần bị khiếu nại</b></td>
                            <td>@Model.CreateUserTotalComplainCnt</td>
                            <td>@Model.ReceiverTotalComplainCnt</td>
                        </tr>
                        <tr>

                        <tr>
                            <td><b>Ảnh mô tả</b></td>
                            <td>@if (Model.UserID == Model.CreateUserID)//khiếu nại = thằng bán
                            {
                                if (!String.IsNullOrEmpty(Model.UserImage))
                                {
                                    <img src="@(ViewBag.Url+"/"+ @Model.UserImage)"/>

                                }

                            }
                            else if (Model.DefendantID == Model.CreateUserID)//bị khiếu nại = thằng bán
                            {
                                if (!String.IsNullOrEmpty(Model.UserImage))
                                {
                                    <img src="@(ViewBag.Url+"/"+ @Model.DefendantImage)" />

                                }

                             
                            }else
                            {
                                @:Chưa gửi bằng chứng
                            }


                            </td>
                            <td>@if (Model.UserID == Model.ReceiveUserID)//khiếu nại = thằng mua
                            {
                                if (!String.IsNullOrEmpty(Model.UserImage))
                                {
                                    <img src="@(ViewBag.Url+"/"+ @Model.UserImage)" />

                                }
                            }
                            else if (Model.DefendantID == Model.ReceiveUserID)//bị khiếu nại = thằng mua
                            {
                                if (!String.IsNullOrEmpty(Model.UserImage))
                                {
                                    <img src="@(ViewBag.Url+"/"+ @Model.DefendantImage)" />

                                }
                            }
                            else
                            {
                                @:Chưa gửi bằng chứng
                            }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Thông tin khiếu nại</b></td>
                            <td>
                            @if(Model.UserID==Model.CreateUserID)
                            {
                                 @Model.UserExplain;
                            }else if(Model.DefendantID==Model.CreateUserID)
                            {
                               @Model.DefendantExplain;
                            }
                            else
                            {
                                @:Chưa cung cấp
                            }

                            </td>
                            <td>

                               @if (Model.UserID == Model.ReceiveUserID)
                               {
                                @Model.UserExplain;
                               }
                               else if (Model.DefendantID == Model.ReceiveUserID)
                               {
                                @Model.DefendantExplain;
                               }

                               else
                               {
                                @:Chưa cung cấp
                                }
                            </td>
                        </tr>
                      
                        <tr>
                            <td><b>Tổng giao dịch</b></td>
                            <td>@(Model.CreateUserTranBuyCnt+Model.CreateUserTranSellCnt)</td>
                            <td>@(Model.ReceiverTranBuyCnt + Model.ReceiverTranSellCnt)</td>
                        </tr>
                       
                      
                    </table>


                </td>
            </tr>
           
        </table>
    </div>
</div>
