@model  MsWebGame.CSKH.Models.Complains.ComplainModel
@using MsWebGame.CSKH.Utils

@Html.HiddenFor(m => m.TransID)
@Html.HiddenFor(m=>m.UserID)
@Html.HiddenFor(m => m.ComplainID)
<div class="t-widget t-tabstrip t-header">
    <div class="t-content t-state-active" style="display: block;">
        @if (Model.ComplainStatus == 0)
        {
            <table class="adminContent customer-info-tab">

                <tr>
                    <td class="adminTitle">
                        @Html.LabelFor(model => model.RequestStatus):
                    </td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.RequestStatus, new SelectList(ViewBag.PartialRequestStatus, "Value", "Name"), new { @class = "text-box single-line", onchange = " GlobalHeader.TransDescription(this);" })
                        <b><div style="color:red" id="trasdes">Trạng thái thành công người mua Bit sẽ được xử thắng trong tranh chấp</div></b>
                    </td>

                </tr>
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <input type="button" name="save" class="t-button" value="Cập nhật trạng thái" onclick=" GlobalHeader.TransProcess()" />
                    </td>
                </tr>
            </table>
        }else
        {
            @Model.ComplainStatusStr
        }

    </div>
</div>

