@using MsWebGame.CSKH.Utils
@model  MsWebGame.CSKH.Database.DTO.PrivilegeArtifacts
@{
    ViewBag.Title = "Quản lý mapping hạng người chơi với sản phẩm đổi";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-promotions.png")" alt="" />
            @AppConstants.CONFIG.EDIT
        </div>
        <div class="options">
            <a href="@Url.Action("PrivilegeArtifacts")" class="t-button">Quay lại</a>
        </div>
    </div>
    if (Model != null && Model.ArtifactID > 0)
    {
        @Html.HiddenFor(m => m.PriArtID)
        @Html.HiddenFor(m => m.PrivilegeID)
        @Html.HiddenFor(m => m.ArtifactID)
        @Html.HiddenFor(m => m.CreateUser)
        @Html.HiddenFor(m => m.CreateDate)
        <input type="hidden" value="@ViewBag.Price" id="price" />
        <div class="t-widget t-tabstrip t-header">
            <div class="t-content t-state-active" style="display: block;">
                <table class="adminContent customer-info-tab">
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.PrivilegeName):
                        </td>
                        <td class="adminData">
                            @Html.TextBoxFor(model => model.PrivilegeName, new { @class = "text-box single-line", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.ArtifactName):
                        </td>
                        <td class="adminData">
                            @Html.TextBoxFor(model => model.ArtifactName, new { @class = "text-box single-line", @readonly = "readonly" })
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            <label>Số lượng <span style="color:red;">*</span></label>
                        </td>
                        <td class="adminData">
                            <input type="hidden" id="quantityHidden" value="@Model.Quantity" />
                            <input class="text-box single-line" value="@Model.QuantityFormat" id="quantity" name="QuantityStr" onkeypress="return GlobalHeader.isNumber(event);"
                                   onchange="GlobalHeader.changeNumber(this);" onblur="GlobalHeader.quantityArtifacts(this, @Model.Quantity);" type="text" >
                            <span class="field-validation-valid" data-valmsg-for="quantity"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            <label>Số lượng còn lại</label>
                        </td>
                        <td class="adminData">
                            <input class="text-box single-line" value="@Model.RemainQuantityFormat" id="remainQuantity" name="RemainQuantityStr" type="text" readonly>
                            <span class="field-validation-valid" data-valmsg-for="remainQuantity"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            <label>Tổng giải</label>
                        </td>
                        <td class="adminData">
                            <input class="text-box single-line" value="@Model.TotalPrize" id="totalPrize" name="TotalPrizeStr" type="text" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            <label>Trạng thái <span style="color:red;">*</span></label>
                        </td>
                        <td class="adminData">
                            <select id="status" name="Status" class="text-box single-line">
                                <option value="true" @(Model.Status ? "selected" : string.Empty)>Hiệu lực</option>
                                <option value="false" @(Model.Status ? string.Empty : "selected")>Hết hiệu lực</option>
                            </select>
                            <span class="field-validation-valid" data-valmsg-for="status"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            <label>Miêu tả <span style="color:red;">*</span></label>
                        </td>
                        <td class="adminData">
                            <input class="text-box single-line" value="@Model.Description" id="description" name="Description" type="text">
                            <span class="field-validation-valid" data-valmsg-for="description"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle"></td>
                        <td class="adminData">
                            <input type="submit" onclick="GlobalHeader.validationPrivilegeArtifacts(1)" name="save" class="t-button" value="@AppConstants.CONFIG.SAVE" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}