@{
    ViewBag.Title = "Quản lý thông tin VIP đổi hiện vật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MsWebGame.CSKH.Database.DTO
@using Telerik.Web.Mvc.UI
@using MsWebGame.CSKH.Utils

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-configuration.png")" alt="" />
            Quản lý thông tin VIP đổi hiện vật
        </div>
    </div>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Tên tài khoản</label>
                </td>
                <td class="adminData">
                    <input type="text" id="userName" class="text-box single-line" onkeypress = "GlobalHeader.inputKeypress(event.keyCode);"  />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Chọn hạng</label>
                </td>
                <td class="adminData">
                    <select id="privilegeId" name="privilegeId" class="text-box single-line">
                        <option value="0">Tất cả</option>
                        @foreach (var item in ViewBag.RankBox)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Ngày tạo</label>
                </td>
                <td class="adminData">
                    @Html.Telerik().DatePicker().Name("createDate").Value(DateTime.Today)
                </td>
            </tr>
            <tr>
                <td class="adminTitle"></td>
                <td class="adminData">
                    <input type="button" id="btnSearch" class="t-button" value="@AppConstants.CONFIG.SEARCH">
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        Danh sách
    </h2>
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<UserRedemption>()
                    .Name("userRedemption-grid")
                    .ClientEvents(events => events.OnDataBinding("onDataBinding"))
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.UserName);
                        columns.Bound(x => x.PrivilegeName);
                        columns.Bound(x => x.ArtifactName);
                        columns.Bound(x => x.PriceFormat);
                        columns.Bound(x => x.Quantity);
                        columns.Bound(x => x.RefundAmountFormat);
                        columns.Bound(x => x.VPFormat);
                        columns.Bound(x => x.RankedMonth).Format("{0:MM/yyyy}");
                        columns.Bound(x => x.StatusFormat);
                        columns.Bound(x => x.Description);
                        columns.Bound(x => x.RefundReceiveDate).Format("{0:dd/MM/yyyy}");
                        columns.Bound(x => x.GiftReceiveDate).Format("{0:dd/MM/yyyy}");
                        columns.Bound(x => x.CreateDate).Format("{0:dd/MM/yyyy}");
                        columns.Bound(x => x.id)
                        .Width(80)
                        .Template(x => Html.ActionLink("UserRedemptionEdit", "UserRedemptionEdit", new { id = x.id }))
                        .ClientTemplate("<a href=\"UserRedemptionEdit/<#= id #>\">" + AppConstants.CONFIG.EDIT + "</a>")
                        .Title("");
                    })
                    .Pageable(settings => settings.PageSize(AppConstants.CONFIG.GRID_SIZE).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("GetListUserRedemption", "Manager");
                    })
                    .EnableCustomBinding(true))
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                var grid = $('#userRedemption-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                return false;
            });
        });

        function onDataBinding(e) {
            var searchModel = {
                userName: $('#userName').val().trim(),
                privilegeId: $('#privilegeId').val(),
                createDate: $('#createDate').val()
            };
            e.data = searchModel;
        }
    </script>
}