@{
    ViewBag.Title = "Chuyển khoản cho người chơi";
}

@using TraditionGame.Utilities.Utils;
@model MsWebGame.CSKH.Models.Param.ParsTransfer

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">Chuyển khoản cho người chơi</div>
    </div>
    <div class="t-widget t-tabstrip t-header">
        <div class="t-content t-state-active" style="display: block;">
            <table class="adminContent customer-info-tab">
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <span id="txttransferMsg" class="@(ViewBag.Message == "Chuyển khoản thành công" ? "txttransferMsgSuccess" : "txttransferMsg")">@ViewBag.Message</span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Số dư</label>
                    </td>
                    <td class="adminData" id="wallet">
                        <span class="balancetransfer">@MoneyExtension.LongToMoneyFormat(Model.balance)</span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <img src="~/Content/images/ico-help.gif">
                        <label>Chọn cổng</label>
                    </td>
                    <td class="adminData">
                        @Html.DropDownList("ServiceID", new SelectList(ViewBag.ServiceBox, "Value", "Text", Model.ServiceID), new { @class = "text-box single-line" })
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Nickname nhận <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="receiverName" name="receiverName" value="@Model.receiverName" type="text"readonly>
                        <span class="field-validation-valid" data-valmsg-for="receiverName"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Số tiền nhận <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="amount" name="amount" type="text" value="@Model.amount" onkeypress="return GlobalHeader.isNumber(event);"
                               onkeyup="GlobalHeader.changeNumber(this)" onblur="GlobalHeader.bindDataTransferAmount();">
                        <span class="field-validation-valid" data-valmsg-for="amount"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <span style="color: red;">Phí chuyển @(Model.transfee * 100)%</span>
                        <input type="hidden" id="transfee" name="transfee" value="@Model.transfee">
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Số tiền thực chuyển</label>
                    </td>
                    <td class="adminData">
                        <input class="text-box single-line" id="orgAmount" name="orgAmount" value="@Model.orgAmount" type="text" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>Nội dung</label>
                    </td>
                    <td class="adminData">
                        <textarea id="note" name="note" rows="6">@Model.note</textarea>
                        <span class="field-validation-valid" data-valmsg-for="note"></span>
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <input type="submit" onclick="return GlobalHeader.validationFormTransfer(1);" name="save" class="t-button" value="Chuyển" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#txttransferMsg').html('');
            }, 4000);
        });
    </script>
}