@{
    ViewBag.Title = "Thống kê số dư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MsWebGame.CSKH.Utils
@using MsWebGame.CSKH.Database.DTO
@using TraditionGame.Utilities.Utils
@model IEnumerable<BalanceFlow>

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            Thống kê số dư
        </div>
    </div>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Chọn cổng</label>
                </td>
                <td class="adminData">
                    @Html.DropDownList("serviceId", new SelectList(ViewBag.ServiceBox, "Value", "Text"), new { @class = "text-box single-line" })
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    &nbsp;
                </td>
                <td>
                    <input type="submit" id="btnSearch" class="t-button" value="@AppConstants.CONFIG.SEARCH" style="margin-bottom: 6px;">
                </td>
            </tr>
        </tbody>
    </table>


    <div id="chartContainer" class="chartContainer"></div>
    <script type="text/javascript">
        var result =  @Html.Raw(ViewBag.Data);
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({ label: result[i].BalanceName, y: result[i].TotalBalance });
        }

        $(function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                data: [{
                    type: "column",
                    dataPoints: dataPoints
                }]
            });
            chart.render();
        });
    </script>
        <div id="balance-user">
            <div class="t-widget t-grid">
                <table cellspacing="0">
                    <thead class="t-grid-header">
                        <tr>
                            <th class="t-header" scope="col"><span class="t-link">STT</span></th>
                            <th class="t-header" scope="col"><span class="t-link">Loại</span></th>
                            <th class="t-header" scope="col"><span class="t-link">Tổng số dư</span></th>
                            <th class="t-header" scope="col"></th>
                        </tr>
                    </thead>
                    @if (Model != null && Model.Any())
                    {
                        var i = 0;
                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td class="text-right" style="width: 80px">@i</td>
                                    <td style="width: 200px">@item.BalanceName</td>
                                    <td class="text-right" style="width: 200px">@item.TotalBalance.LongToMoneyFormat()</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"><span class="t-link"><b>Thống kê</b></span></td>
                                <td class="text-right"><span class="t-link "><b>@Model.Select(a => a.TotalBalance).Sum().LongToMoneyFormat()</b> </span></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
        </div>
}