@using MsWebGame.CSKH.Utils
@{
    ViewBag.Title = "Cấu hình giftcode";
}
@model MsWebGame.CSKH.Models.GiftCodes.GiftCodeAdMode
@using Telerik.Web.Mvc.UI
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-promotions.png")" alt="" />
            @AppConstants.CONFIG.ADD_NEW
        </div>
        <div class="options">
            <a href="@Url.Action("Index")" class="t-button">Quay lại</a>
        </div>
    </div>
    <div class="t-widget t-tabstrip t-header">
        <div class="t-content t-state-active" style="display: block;">
            <table class="adminContent customer-info-tab">
                <tr>
                    <td class="adminTitle">
                        <img src="~/Content/images/ico-help.gif">
                        <label>Chọn cổng</label>
                    </td>
                    <td class="adminData">
                       @Html.DropDownList("serviceId", new SelectList(ViewBag.ServiceBox, "Value", "Text"), new { @class = "text-box single-line" })
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>@Html.LabelFor(m => m.CampaignName)  <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.CampaignName, new { @class = "text-box single-line", placeholder = "Tên chiến dịch tạo gift code" })
                        @Html.ValidationMessageFor(m=>m.CampaignName)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>@Html.LabelFor(m => m.Description) <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        @Html.TextAreaFor(m => m.Description, new { @class = "text-box single-line",cols="30",rows="8", placeholder="Mô tả gift code" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>@Html.LabelFor(m=>m.MoneyReward) <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.MoneyReward, new { @class = "text-box single-line", @onchange = "GlobalHeader.changeNumber(this);", @onkeypress = "return GlobalHeader.isNumber(event);", @placeholder = "Mệnh giá Gift Code VD:1000,2000,5000" }) 
                        @Html.ValidationMessageFor(m => m.MoneyReward)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        <label>@Html.LabelFor(m => m.Quantity) <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "text-box single-line", @onkeypress = "return GlobalHeader.isNumber(event);", @placeholder = "Số lượng gift code cần tạo" })
                        @Html.ValidationMessageFor(m => m.Quantity)
                    </td>
                </tr>
              
                <tr>
                    <td class="adminTitle">
                        <label>@Html.LabelFor(m => m.GiftcodeType)  <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.GiftcodeType,Model.listGiftTypes,new {@class= "text-box single-line" })
                        @Html.ValidationMessageFor(m => m.GiftcodeType)
                        <span class="field-validation-valid" data-valmsg-for="limitQuota"></span>
                    </td>
                </tr>
              
                <tr>
                    <td class="adminTitle">
                        <label>Ngày hết hạn <span style="color:red;">*</span></label>
                    </td>
                    <td class="adminData">
                     
                        @Html.EditorFor(m=>m.ExpireDate,new {type= "datetime", @placeholder = "Hạn sử dụng gift code",@class= "text-box single-line" }) 
                        @Html.ValidationMessageFor(m=>m.ExpireDate)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle"></td>
                    <td class="adminData">
                        <input type="submit" onclick="return GlobalHeader.validationSetGiftcode(0);" name="save" class="t-button" value="@AppConstants.CONFIG.SAVE" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}