@using MsWebGame.CSKH.Utils
@model  MsWebGame.CSKH.Database.DTO.PrivilegePrize
@{
    ViewBag.Title = "Cấu hình tỉ lệ đổi điểm";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Content/images/ico-promotions.png")" alt="" />
            @AppConstants.CONFIG.EDIT
        </div>
        <div class="options">
            <a href="@Url.Action("PrivilegePrize")" class="t-button">Quay lại</a>
        </div>
    </div>
    if (Model != null && Model.RankID > 0)
    {
        @Html.HiddenFor(m => m.RankID)
        @Html.HiddenFor(m=> m.RefundRate)
        @Html.HiddenFor(m => m.PointExchangeRate)
        @Html.HiddenFor(m => m.GiftRate)
        <div class="t-widget t-tabstrip t-header">
            <div class="t-content t-state-active" style="display: block;">
                <table class="adminContent customer-info-tab">
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.RankID):
                        </td>
                        <td class="adminData">
                            <input type="text" value="@Model.RankIDFormat" class="text-box single-line" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.MoneyExchangeRate):
                        </td>
                        <td class="adminData">
                            <input type="text" name="MoneyExchangeRateStr" value="@Model.MoneyExchangeRateFormat" class="text-box single-line"
                                   onchange="GlobalHeader.changeNumber(this);" onkeypress="return GlobalHeader.isNumber(event);" />
                            @Html.ValidationMessageFor(model => model.MoneyExchangeRate)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.LabelFor(model => model.Status):
                        </td>
                        <td class="adminData">
                            <select id="Status" name="Status" class="text-box single-line">
                                <option value="true" @(Model.Status ? "selected" : string.Empty)>Hiệu lực</option>
                                <option value="false" @(!Model.Status ? "selected" : string.Empty)>Hết hiệu lực</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle"></td>
                        <td class="adminData">
                            <input type="submit" name="save" class="t-button" value="@AppConstants.CONFIG.SAVE" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
}