@{
    ViewBag.Title = "Thống kê số lượng download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MsWebGame.CSKH.Database.DTO
@using Telerik.Web.Mvc.UI
@using MsWebGame.CSKH.Utils

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            Thống kê download
        </div>
    </div>
    <table style="width: 100%;">
        <tbody>

            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Từ ngày <span style="color:red;">*</span></label>
                </td>
                <td class="adminData">
                    @Html.Telerik().DatePicker().Name("from").Value(DateTime.Today.AddDays(-7))
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Đến ngày <span style="color:red;">*</span></label>
                </td>
                <td class="adminData">
                    @Html.Telerik().DatePicker().Name("to").Value(DateTime.Now)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>Url <span style="color:red;">*</span></label>
                </td>
                <td class="adminData">
                    <input class="text-box single-line" id="urlPage" name="UrlPage" type="text">
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    <img src="~/Content/images/ico-help.gif">
                    <label>PM download</label>
                </td>
                <td class="adminData">
                   
                    <select class="text-box single-line " id="typeDownLoad">
                    <option value="0">Chọn PM download</option>
                    <option value="1">GameIos</option>
                    <option value="2">GameAndroid</option>
                    <option value="3">AppSafeIos</option>
                    <option value="4">AppSafeAndroid</option>
                </select>
                <span class="field-validation-valid" data-valmsg-for="telOperatorId"></span>
                </td>
            </tr>
            <tr>
                <td class="adminTitle"></td>
                <td class="adminData">
                    <input type="button" id="btnSearch" class="t-button" value="@AppConstants.CONFIG.SEARCH">
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        Danh sách download
    </h2>
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<PageTrackingInfo>()
                    .Name("statisticsJackpot-grid")
                    .ClientEvents(events => events.OnDataBinding("onDataBinding"))
                    .Columns(columns =>
                    {
                    columns.Bound(x => x.UrlPage).Title("Landing");
                    columns.Bound(x => x.AppTypeStr).Title("Phần mềm download");

                    columns.Bound(x => x.DownloadCount).Title("Số lượng download").
                            Aggregate(aggregates => aggregates.Sum())



                            .FooterTemplate(
                        @<text>
                            <div>Sum: @item.Sum </div>
                        </text>)
          .GroupHeaderTemplate(@<text>@item.Title: @item.Key (Sum: @item.Sum)</text>);

                    })
                    .Pageable(settings => settings.PageSize(AppConstants.CONFIG.GRID_SIZE).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("TrackingDownload", "Statistics");
                    })
                    .EnableCustomBinding(true))
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                var from = $('#from').val().trim();
                var to = $('#to').val().trim();

                if (from == null || from == '') {
                    $('#from').focus();
                    return;
                }
                if (to == null || to == '') {
                    $('#to').focus();
                    return;
                }

                var grid = $('#statisticsJackpot-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                return false;
            });
        });

        function onDataBinding(e) {
            var searchModel = {

                from: $('#from').val().trim(),
                to: $('#to').val().trim(),
                typeDownLoad: $('#typeDownLoad').val().trim(),
                urlPage: $('#urlPage').val().trim(),
            };
            e.data = searchModel;
        }
    </script>
}